<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html>
          <!-- 'viewport' is used by bootstrap to respond to device size -->
          <meta name="viewport" content="width=device-width, initial-scale=1">
        
          <!-- Javascript:  JQuery from a content distribution network (CDN) -->
          <script
             src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
          </script>
        
          <!-- Bootstrap includes javascript and css  (must follow jquery) -->
          <link rel="stylesheet"
           href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
           <script
            src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js">
           </script>
        
          <!-- moment.js is the JavaScript equivalent of arrow.py -->
          <script 
            src="{{ url_for('static', filename="js/moment.min.js") }}"></script>
        
    <head>
        {% if title %}
        <title>{{ title }} - Microblog</title>
        {% else %}
        <title>Welcome to Microblog</title>
        {% endif %}
    </head>
    <body>
        <div>
            Microblog:
            <a href="{{ url_for('index') }}">Home</a>
            <a href="{{ url_for('login') }}">Login</a>
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        <div class="container">
        {% block content %}{% endblock %}
    </div>
    </body>
</html>
